<ul class="navbar-nav cart-items" *ngIf="items().length">
  <li class="nav-item" *ngFor="let itemVendaDto of items()">
    <div class="media">
      <img class="img-thumb" src="data:image/jpeg;base64,{{itemVendaDto.fkComputadorDTO?.imagemBase64}}"
           onError="this.src='/assets/img/no-img.jpg';" alt="{{itemVendaDto.fkComputadorDTO?.descricao}}" width="10%">
      <div class="media-body">
        <h5 class="mt-0">{{itemVendaDto.fkComputadorDTO?.descricao}} </h5>
        <span>{{itemVendaDto.quantidade}}x de {{itemVendaDto.valorUnitario}} = {{itemVendaDto.valorTotal}}</span>
      </div>
      <span class="remove-item" (click)="removeItem(itemVendaDto)">Remover</span>
    </div>
  </li>
  <li class="total-cart text-right">
    <p>Total</p>
    <span id="sub-cash">{{total()}} à vista</span>
  </li>
  <li>
    <button mat-flat-button color="primary" (click)="comprar()">
      <mat-icon>add_shopping_cart</mat-icon> Comprar
    </button>
  </li>
</ul>
<ul class="navbar-nav cart-items" *ngIf="items().length == 0">
  <li class="nav-item">
    Seu carrinho está vazio :/
  </li>
</ul>
