<ul class="navbar-nav cart-items" *ngIf="items().length">
  <li class="nav-item" *ngFor="let computadorDto of items()">
    <div class="media">
      <img class="img-thumb" src="data:image/jpeg;base64,{{computadorDto.imagemBase64}}" onError="this.src='/assets/img/no-img.jpg';" alt="{{computadorDto.descricao}}">
      <div class="media-body">
        <h5 class="mt-0">{{computadorDto.descricao}} </h5>
        <span>1x de {{computadorDto.valorVenda}}</span>
      </div>
      <span class="remove-item" (click)="removeItem(computadorDto)">x</span>
    </div>
  </li>
  <li class="total-cart text-right">
    <p>subtotal</p>
    <span id="sub-cash">{{total()}} à vista</span>
  </li>
</ul>
<ul class="navbar-nav cart-items" *ngIf="items().length == 0">
  <li class="nav-item">
    Seu carrinho está vazio :/
  </li>
</ul>
