mat-toolbar {
  background: #004a9f;
  color: white;
}

mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #002b5c;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content {
  height: calc(100vh - 130px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;

  padding: 16px;

  overflow: auto;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  color: white !important;
}

mat-icon {
  margin-right: 8px;
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

.vertical-center {
  vertical-align: middle;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

.tabela-produtos {
  text-align: center;
  border: dotted 1px #004a9f;
  border-radius: 20px;
  border-spacing: 10px;
}

.navbar-main {
  padding: 0;
}

.navbar-main .logo {
  margin: 10px;
}

.navbar-main .navbar-toggler {
  border: none;
}

.navbar-main .navbar-toggler:focus {
  outline: none;
}

.navbar-main .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(49, 47, 37, .9)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/></svg>");
}

.navbar-main .navbar-toggler-right {
  top: 1.5rem;
  right: 1rem;
  padding: 0;
}

.navbar-main .navbar-toggler-right .badge {
  position: absolute;
  bottom: -0.28rem;
  left: -0.25rem;
  padding: 0.15rem 0.27rem;
  font-weight: 300;
}

.navbar-main .collpase.show {
  background-color: #daaf00;
}

.navbar-main .cart-items .nav-item {
  background-color: rgba(0, 0, 0, .2);
  padding: 10px;
}

.navbar-main .cart-items .nav-item:not(:last-child) {
  border-bottom: 2px solid rgba(255, 255, 255, .15);
}

.navbar-main .cart-items .nav-item .media .img-thumb {
  max-width: 64px;
  max-height: 64px;
  margin-right: 10px;
}

.navbar-main .cart-items .nav-item .media .media-body h5 {
  color: #fff;
  font-weight: 300;
  font-size: .8rem;
}

.navbar-main .cart-items .nav-item .media .media-body span {
  display: block;
  line-height: 1;
  font-size: .7rem;
  font-weight: bold;
}

.navbar-main .cart-items .nav-item .media .remove-item {
  margin-top: .8rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.bg-primary {
  background-color: #a8c6ce !important;
}

